<!DOCTYPE html>
<html>
<head>
    <title>edit posts</title>
</head>
<body>
    <form method="post" action="{%  url 'post_edit'  post.post_title%}">
        {% csrf_token %}
        <p>Post title : <input type="text" name="post_title" value="{{ post.post_title }}"></p>
        <p>Post text : <input type="text" name="post_text" value="{{ post.post_text }}"></p>
       <p>Post date : <input type="date" name="post_date" value="{{ post.post_date }}"></p>
        <input type="submit">
    </form>
</body>
</html>