<!DOCTYPE html>
<html>
<head>
    <title>List of posts</title>
</head>
<body>
    <h1>Our awesome blog index page!</h1>
    {% if posts %}
        <table border = "2">
            {% for post in posts %}
                <tr><td><a href="posts/{{post.post_title}}">{{post.post_title}}</a></td><td>{{ post.post_date }}</td>
                    <td><a href="{% url 'post_delete' post.post_title %}"><input type = "button" value="delete post"/></a></td></tr>
             {% endfor %}
        </table>
    {% else %}
            <h2>no posts</h2>
    {% endif %}
<a href="{% url 'post_new' %}"><input type = "button" value="new post"/></a>
</body>
</html>