<!DOCTYPE html>
<html>
<head>
    <title>Delete or not delete that is the question</title>
</head>
<body>
    <form method="post" action="{% url 'post_delete' post_title %}">
        {% csrf_token %}
        <input type="submit" value="Delete post #{{ post_title }}">
        <a href="{% url 'post' post_title %}"><input type="button" value="Not delete post #{{ post_title }}"></a>
    </form>
</body>
</html>