<!DOCTYPE html>
<html>
<head>
    <title>new posts</title>
</head>
<body>
    <form method="post" action="{% url 'post_new' %}">
        {% csrf_token %}
        <p>Post title : <input type="text" name="post_title"></p>
        <p>Post text : <input type="text" name="post_text"></p>
        <p>Post date : <input type="date" name="post_date"></p>
        <input type="submit">
    </form>
</body>
</html>