<!DOCTYPE html>
<html>
<head>
    <title>Page post {{ post }}</title>
</head>
<body>
    <h1> THIS IS {{ post }} PAGE !!!</h1>
    <h3>Date post: {{ post.post_date }}</h3>
    <h4>{{ post.post_text }}</h4>
    <a href="{% url 'post_delete' post.post_title %}"><input type = "button" value="delete post"/></a>
    <a href="{% url 'post_edit' post.post_title %}"><input type = "button" value="edit post"/></a>
    <a href="{% url 'posts' %}"><input type="button" value="Groups"></a>
</body>
</html>