<!DOCTYPE html>
<html>
<head>
    <title>Page post {{ post }}</title>
</head>
<body>
    <h1> THIS IS {{ post }} PAGE !!!</h1>
    <h3>Date post: {{ post.post_date }}</h3>
    <h4>{{ post.post_text }}</h4>
</body>
</html>