<!DOCTYPE html>
<html>
<head>
    <title>List of posts</title>
</head>
<body>
    <h1>Our awesome blog index page!</h1>
    {% if posts %}
        <table border = "2">
            {% for post in posts %}
                <tr><td><a href="posts/{{post.post_title}}">{{post.post_title}}</a></td><td>{{ post.post_date }}</td></tr>
             {% endfor %}
        </table>
    {% else %}
            <h2>Forever alone :((</h2>
    {% endif %}
</body>
</html>